name: BDD - Playwright + Cucumber

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  bdd:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Cucumber (headless)
        env:
          HEADLESS: "1"
          SLOWMO: "0"
        run: npm run bdd

      - name: Upload Playwright report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
          if-no-files-found: ignore

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: test-results
          if-no-files-found: ignore

      - name: Upload Cucumber outputs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-outputs
          path: |
            reports
            cucumber-report
            cucumber-report.json
            cucumber-report.html
          if-no-files-found: ignore
